<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>

<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
  Include:
  <%= hidden_field_tag :sort , @sort %>
  <% @all_ratings.each do |rating| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
      <%= check_box_tag "ratings[#{rating}]", "1",  @ratings_to_show.include?(rating), class: 'form-check-input' %>
    </div>
  <% end %>
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th class="<%= @sort =='title' ? 'hilite text-primary bg-warning' : '' %>">
         <%= link_to "Movie Title", movies_path({"sort"=>"title","ratings" => @param_ratings}), id:"title_header",class: (@sort =="title" ? 'hilite text-primary bg-warning' : '') %>
      </th>
      <th>Rating</th>
      <th  class="<%= @sort =='release_date' ? 'hilite text-primary bg-warning' : '' %>">
          <%= link_to "Release Date", movies_path({"sort"=>"release_date","ratings" => @param_ratings}), id:"release_date_header",class: (@sort =="release_date" ? 'hilite text-primary bg-warning' : '') %>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>